*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family:"Roboto","Noto Sans TC",sans-serif;
    line-height: 1.5;
}
img{
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}
button{
    cursor: pointer;
}

/* header專用container */
.header-container{
    max-width: 372px;
    margin: 0;
}

.container{
    max-width: 372px;
    margin: 0 auto;
    padding: 0px 12px;
}
@media(min-width:768px){
    .container{
        max-width:696px ;
    }
}
@media(min-width:992px){
    .container{
        max-width:1320px ;
    }
}
