@import url(./reset.css);
@import url(./base.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" );
/* header */
.header{
    background-color: #AA0601;
}
.header-wrapper{
    max-width: 100%;
}
.header-text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.logo-img{
    width: 80px;
}
.logo-box{
    padding: 16px;
}
.header-item{
    width: 50%;
    border: #FFFFFF 1px solid; 
    text-align: center;
    height: 48px;
}
.header-item a{
    padding: 12px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}



@media(min-width:992px){

.header-wrapper{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-text{
    width: 450px;
    justify-content: space-between;
    flex-wrap: nowrap; 
}
.header-item{
    border: none;
}
.header-item p{
    font-size: 20px;
}
.header-item a{
    padding: 25px auto;
}
}
/* banner */
.banner{
    background-image: url(../img/home-header-sm.png);
    height:316px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.banner-text p{
    color: #650300;
    line-height: 1.5;
    text-align: right;
   
}
.banner-text p:nth-child(2){
    font-size: 24px;
    font-weight: bold;
}
.banner-text span{
    font-size: 20px;
    background-color: #AA0601;
    padding: 6px 12px; 
    width: 104px;
    display: inline-block;
}
.banner-text a{
    color: white;
}
@media(min-width:1200px){
    .banner{
        background-image:url(../img/home-header.png);
        height:calc(100vh - 85px)
    }
}

/* featured */
.featured{
    background: #FBF2F2;
}
.featured-title{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: #650300;
    padding-top: 40px;
    margin-bottom: 32px;
}
.featured-card{   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.featured-card-item{
    text-align: center;
}
.featured-card-item h2{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: #650300;
    margin-top: 24px;
    margin-bottom: 8px;
}
.featured-card-item p{
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
}

@media(min-width:1200px){
    .featured-title{
        padding-top: 80px;
        margin-bottom: 30px;
    }
    .featured-card{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: -12px;
        margin-right: -12px;
    }
    .featured-card-item{
        margin-left: 12px;
        margin-right: 12px;
    }
    .featured-card-item p{
        margin-bottom: 80px;
}
}
/* classical */
.classical-title{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: #650300;
    padding-top: 40px;
    margin-bottom: 24px;
}


.classical-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.classical-card-item{
    text-align: center;
}
.classical-card-item p{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    font-style: italic;
    color: #AA0601;
    margin-top: 8px;
    margin-bottom: 24px;
}
@media(min-width:1200px){
    .classical-title{
        font-size: 48px;
        padding-top: 80px;
        margin-bottom: 48px;
    }
    .classical-card{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: -12px;
        margin-right: -12px;
    }
    .classical-card-item{
        margin-left: 12px;
        margin-right: 12px;
    }
    .classical-card-item p{
        margin-bottom: 80px;
        text-align: center;
}
}
/* cobrand */
.cobrand{
    background-image: url(../img/index-bg-sm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cobrand-title{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 24px;
}
.cobrand-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
}
.cobrand-card-item{
    margin-bottom: 24px;
}
.cobrand-card-item p{
    background-color: #fff;
    font-weight: bold;
    color: #AA0601;
    font-size: 48px;
    font-style: italic;
    text-align: center;
}
@media(min-width:1200px){
.cobrand{
    background-image: url(../img/index-bg.png);
}
.cobrand-title{margin-top: 80px;
    padding-bottom: 48px;}
.cobrand-card{
    flex-direction: row;
    flex-wrap: nowrap;
}
    
}
/* recommand */
.recommand h2{
    color: #650300;
    font-weight: bold;
    font-size: 24px;
    padding-top: 40px;
    margin-bottom: 24px;
    text-align: center;
}
.recommand-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
}
.recommand-card-item{
    text-align: center;
}
.recommand-text{
    height: 100%;
    text-align: left;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 16px;
    padding: 16px;
}
.recommand-text :nth-child(4){
    margin-bottom: 40px;
}
.recommand span{
    color: #707070;
    margin-top: 96px;
}
@media(min-width:1200px){
    .recommand-card{flex-direction: row;
    flex-wrap: nowrap;
    padding-left: -12px;
    padding-right: -12px;}
    .recommand-card-item{
        padding-left: 12px;
        padding-right: 12px;
    }
    .recommand-text{
        height: 205px;
    }
}
/* contact */
.contact{
    background: #FBF2F2;
}
.contact-form h2{
    font-size: 24px;
    color: #650300;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 24px;
}
.contact-form p{
    margin-bottom: 24px;
}
.contact-input{
    display: inline-block;
    width: 90%;
    border: 1px solid #000000;
    padding: 6px 12px;
    color: rgba(0, 0, 0, 0.2);
}
.contact-input{
    margin-bottom: 22px;
}
.contact-input:hover{
    cursor: text;
}
.contact-input:last-child{
    margin-bottom: 16px;
}
.agree{
    margin-bottom: 24px;
}
.contact-form-btn{
    display: inline-block;
    width: 100%;
    padding: 16px;
    background: #AA0601;
    color: #FFFFFF;
    text-align: center;
    border: none;
    opacity: 1;
    margin-bottom:  40px;

}
.contact-form-btn:hover{
    cursor: pointer;
    
}
@media(min-width:1200px){
    .contact-form h2{
        padding-top: 80px;
        margin-bottom: 48px; 
    }
    .contact-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
}

.footer{
    background: #AA0601;
    padding: 0px 13px;

}

.footer-top{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}
.footer-link{
    display: none;
}
.contact-info{
    color: #fff;
}

.contact-info li:nth-child(1){
    margin-bottom: 8px;
}
.contact-info li:nth-child(2){
    margin-bottom: 24px;
}
.material-symbols-outlined{
    color: #FFFFFF;
    margin-left: 16px;
    margin-right: 11px;
}
.social-list{
    display: flex;
    padding-top: 24px;
    margin-left: -8px;
}
.social-list img{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.copyright-list{
    color: #fff;
    padding-left: 13px;
    padding-top: 16px;
    border-top: 1px solid #fff; 
    margin-bottom: -8px; 
}
.copyright-list p,a{
    margin-bottom: 8px;
}
.copyright-list a{
    display: block;
    color: #fff; 
}

.copyright-list a:nth-child(2){
    padding-bottom:24px;
}
@media(min-width:1200px){
    .footer{
        padding: 0px 200px;
    }
    .footer-top{
        flex-direction: row;
    }
    .footer-link{
        display: flex;
        margin-left: -24px;
        margin-right: -24px;
        padding-top: 60px;
    }
    .footer-link a{
        color: #fff;
        margin-left:24px;
        margin-right: 24px;
    }
    .contact-info{
        font-size: 36px;
    }
    .social-list{
        padding-top: 60px;
        margin-left: -16px;
        margin-right: -16px;
    }
    .copyright-list{
        display: flex;
        justify-content: space-between;
    }
    .copyright-link{
        display: flex;
        margin-left: -24px;
        margin-right: -24px;
    }
    .copyright-link a{
        margin-left: 24px;
        margin-right: 24px;
    }
}